.mainimage{
  width: 52%;
  clear: right;
}

.favthings{
  display: inline-block;
  width: 49.5%;
}

.friends{
  display: inline-block;
  width: 49.5%;
}

.galleryimage{
  width: 32.5%;
}

body{
  background-color: grey;
}

h1 {
  text-decoration: underline;
}

li {
  color: green;
}

a {
  text-decoration: none;
  color: gold;
}
a:visited {
  color: maroon;
}

.lightback {
  background: white;
  color: black;
}

.darkback {
  background: black;
  color: white;
}

.dark,
.light {
  color:blue;
}
