.mainimage{
  width: 52%;
  clear: right;
}

.favthings{
  display: inline-block;
  width: 49.5%;
}

.friends{
  display: inline-block;
  width: 49.5%;
}

.galleryimage{
  display: inline-block;
  width: 32.5%;
}

body{
  background-image: url("../img/funky-lines.png");
  background-color: red;
}
